{% extends 'micro-post/index.html.twig' %}

{% block title %}List of bloggers{% endblock %}

{% block microPostContent %}
    <ul class="list-group list-group-horizontal-md">
        {% for blogger in bloggers %}
            <a href="{{ path('micro_post_by_user', {uuid: blogger.uuid}) }}"
               class="list-group-item list-group-item-action">
                {{ blogger.emoji }}@{{ blogger.nick }}
                <sup class="m-3 text-nowrap">{{ 'micro-post.post-from-following.posts'|trans({'%count%': blogger.posts|length}) }}</sup>
            </a>
        {% else %}
            <li>Bloggers not found</li>
        {% endfor %}
    </ul>
{% endblock %}
