{% extends '@mp/index.html.twig' %}

{% block title %} {{ 'confirmation_login.page_title'|trans }} {% endblock %}

{% block microPostContent %}
    <div class="mb-5">
        {% if user %}
            <div class="alert alert-success">
                {{ 'confirmation_login.success'|trans({'%login_link%': path('micro_post_login')})|raw }}
            </div>
        {% else %}
            <div class="alert alert-danger">
                {{ 'confirmation_login.wrong'|trans }}
            </div>
        {% endif %}
    </div>
{% endblock %}
