{% extends 'micro-post/index.html.twig' %}

{% block title %}Micro post main page{% endblock %}

{% block microPostContent %}
    {% for post in posts %}
        {{ include ("micro-post/post-item.html.twig", {post: post}) }}
    {% endfor %}
    <div class="mb-5">&nbsp;</div>
{% endblock %}
