{% extends '@mp/index.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block microPostContent %}
    <div class="row justify-content-center">
        <div class="col-6 align-self-center">
            <h3 class="display-3">{{ 'login_form.title'|trans }}</h3>
            <hr>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {{ form(loginForm) }}
        </div>
    </div>
{% endblock %}
