{% extends 'micro-post/index.html.twig' %}

{% block title %} Sign up{% endblock %}

{% block microPostContent %}
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <h1>Register</h1>
            {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}
