{% extends '@mp/index.html.twig' %}

{% block title %}{{ 'restore_password.form_change_password.page_title'|trans }}{% endblock %}

{% block microPostContent %}
    <div class="row justify-content-center">
        <div class="col-6 align-self-center">
            <h3 class="display-6">{{ 'restore_password.form_change_password.title'|trans({'%nick%': user.nick}) }}</h3>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
