{% extends 'micro-post/index.html.twig' %}

{% block title %} Unread notification {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app.notification') }}
{% endblock %}

{% block microPostContent %}
    <div class="mb-5">
        <div class="container">
            <div class="row g-3">
                {% for notification in notifications %}
                    <div class="col-md-6 col-sm-12 col-notification-item">
                        {{ include('micro-post/user-notification-item.html.twig', { notification }) }}
                    </div>
                {% else %}
                    <h4 class="display-4">No notifications</h4>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
