{% extends 'micro-post/index.html.twig' %}

{% block title %} Unread notification {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app.notification') }}
{% endblock %}

{% block microPostContent %}
    <div class="mb-5">
        <div class="container">
            {% if notifications|length %}
                <a href="{{ path('micro_post_notification_set_seen_all') }}" class="btn btn-outline-success">
                    Set as read for all notifications</a>
                <hr>
            {% else %}
                <h4 class="display-4">No notifications</h4>
            {% endif %}
            <div class="row g-3">
                {% for notification in notifications %}
                    <div class="col-md-6 col-sm-12 col-notification-item">
                        {{ include('micro-post/user-notification-item.html.twig', { notification }) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
