{% extends '@mp/user-profile.html.twig' %}

{% block title %}{{ 'my_profile.password.title'|trans }}{% endblock %}

{% block profileContent %}
    <p class="alert alert-warning">{{ 'my_profile.password.note'|trans }}</p>
    {{ form(formPassword) }}
{% endblock %}