<p>Hello {{ user.nick }}! You change email address. Please confirm your login:
    <a href="{{ url('micro_post_confirm_registration', {token: user.confirmationToken, _locale: locale}) }}">here</a>
<p>
    <small>Best regards administrator Micro Post App.</small>
</p>
