<p>Привет {{ user.nick }}! Пожалуйста подтвердите смену пароля для логина {{ user.login }}:
    <a href="{{ url('micro_post_restore_password_confirm', {token: user.changePasswordToken, _locale: locale}) }}">тут</a>
<p><small>Если вы не запрашивали смену пароля просто игнорируйте это письмо.</small></p>
<p><small>С уважением администратор Micro Post App.</small></p>
