<p>Hello {{ user.nick }}! Please confirm change your password for login {{ user.login }}:
    <a href="{{ url('micro_post_restore_password_confirm', {token: user.changePasswordToken, _locale: locale}) }}">here</a>
<p><small>If you did not request a password change, please ignore this email.</small></p>
<p><small>Best regards administrator Micro Post App.</small></p>
