<h3>Welcome to MicroPost App</h3>
<p>Dear {{ user.nick }}! Your user account is not confirm yet.</p>
<p>Please confirm your account <a
            href="{{ url('micro_post_confirm_registration', {token: user.confirmationToken, _locale: locale}) }}">here</a>.
</p>

<p><small>Best regards MicroPost App administrator.</small></p>
