{% extends 'blog/blog_main.html.twig' %}

{% block title %}A post with title - &laquo;{{ post.title|slice(0, 10)  }}...&raquo;{% endblock %}

{% block body %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <hr>
    <a href="{{ url("blog_list") }}">Back to blog list</a>
{% endblock %}
