{% extends "base.html.twig" %}

{% block title %} Page not found {% endblock %}

{% block body %}
    <h1>Page with post not found</h1>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path("blog_list") }}">return to blog post list</a>.
    </p>
{% endblock %}