{% extends 'base.html.twig' %}

{% block body %}
    <h3>Links to sub project:</h3>
    <ul>
        <li>
            <strong>Micro post project use database (doctrine) and other features of symfony</strong>
            <ul>
                <li><a href="{{ path("micro_post_list") }}" target="micropostapp">Main page of Micro Post App</a></li>
                <li><a href="http://localhost:1080" target="mailcatcher">Mail Catcher for debug mail sent from Micro
                        Post App</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
